<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://@containers-us-west-111.railway.app:6987/railway</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">vcat8cvqVsE2XLLGJd3z</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>

        <mapping class="models.Usuarios"/>
        <mapping class="models.Alumno"/>
        <mapping class="models.Diario"/>
        <mapping class="models.Empresa"/>
        <mapping class="models.Profesor"/>

    </session-factory>
</hibernate-configuration>